<%= @post.title %>
<br>
<i>posted at: <%= @post.post_date %></i>
<br><br>
<%= @post.content %>
<br>
<%= link_to "Edit", edit_post_path(@post) %> |
<%= link_to(post_path(@post),
  data: {
    confirm: 'You sure?',
    method: 'delete'
  }
) do %>
  Delete
<% end %>
<%= form_tag(post_comments_path(@post), method: "post") do %>
  <%= hidden_field_tag :author_id, current_author.id %>
  <%= text_field_tag :content %>
  <%= submit_tag "Add a Comment" %>
<% end %>
<% @post.comments.each do |comment| %>
  <% if comment.parent == nil %>
    <div class="comment">
      "<%= comment.content %>"<br>
      <i>posted at: <%= comment.created_at %></i><br>
      <i>Author:</i> <%= comment.author.name %><br>
      <%= link_to 'Reply', post_comment_path(@post, comment) %><br><br>
    </div>
    <% comment.walk_tree do |comment, level| %>
      <% @margin= "margin-left:"+(level * 40).to_s+"px;" %>
      <% @class="color"+(((level+1) % 6 == 0 ? 1 : level + 1)).to_s %>
      <div style=<%= @margin %>>
        <div class="comment">
          <div class=<%= @class %>>
            "<%= comment.content %>"<br>
            <i>posted at: <%= comment.created_at %></i><br>
            <i>Author:</i> <%= comment.author.name %><br>
            <%= link_to 'Reply', post_comment_path(@post, comment) %><br><br>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
